<div class="navbar header-navbar" id="navbar" role="banner" itemscope="itemscope"
  itemtype="https://schema.org/WPHeader">
  <!-- Logo Area -->
  <div class="navbar-header">
    <a href="index.html" class="navbar-brand">
      <img src="assets/img/logo-2.png" alt="" class="light-logo" width="200" height="80">
      <img src="assets/img/logo-light.png" alt="" class="dark-logo" width="200" height="80">
      <img src="assets/img/logo-light.png" alt="" class="sticky-logo" width="200" height="80">
      <!-- <p>Vibes</p> -->
    </a>
  </div>
  <!-- /.navbar-header -->
  <!-- Main Navigation -->
  <nav class="nav-container d-none d-lg-block" aria-hidden="true" itemscope="itemscope"
    itemtype="https://schema.org/SiteNavigationElement">
    <ul class="nav site-navigation" id="navbar-menu-1">
      <li class="menu-item current-menu-item"><a routerLink="">Home</a>
      </li>
      <li class="menu-item"><a routerLink="/about">About</a>
      </li>
      <li class="menu-item"><a routerLink="/schedule">Schedule</a>
      </li>
      <li class="menu-item"><a routerLink="/contact">Contact</a>
      </li>
      <!-- /.menu-item-has-children -->
    </ul>
    <!-- /.site-navigation -->
  </nav>
  <!-- /.nav-container -->


  <!-- Main Navigation for tablet and mobiles -->
  <nav class="nav-container d-block d-lg-none" aria-hidden="true" itemscope="itemscope"
    itemtype="https://schema.org/SiteNavigationElement">
    <ul class="nav site-navigation" id="navbar-menu-2">
      <li class="menu-item menu-right-sidebar"><a href="javascript: void(0);" id="sidebar-toggle-2"
          class="sidebar-toggle" data-template-sidebar-trigger="#right-sidebar-2" data-template-open="false"><i
            class="feather-menu"></i></a>
        <div id="right-sidebar-2" class="sidebar right-sidebar" data-template-open="false">
          <div class="right-sidebar-body">
            <div class="clearfix mb-0">
              <button class="close"><i class="feather-x"></i>
              </button>
            </div>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a routerLink="">Home</a>
              </li>
              <li class="menu-item"><a routerLink="/about">About</a>
              </li>
              <li class="menu-item"><a routerLink="/schedule">Schedule</a>
              </li>
              <li class="menu-item"><a routerLink="/contact">Contact</a>
              </li>
              <!-- /.menu-item-has-children -->
            </ul>
          </div>
          <!-- /.right-sidebar-body -->
        </div>
        <!-- /.menu-right-sidebar -->
      </li>
    </ul>
  </nav>
  <!-- Search & Mini Cart -->
  <ul class="nav site-navigation site-navigation-extras d-none d-xl-inline-flex">
    <li class="menu-item menu-right-sidebar"><a href="javascript: void(0);" id="sidebar-toggle-1" class="sidebar-toggle"
        data-template-sidebar-trigger="#right-sidebar-1" data-template-open="false"><i class="feather-menu"></i></a>
      <div id="right-sidebar-1" class="sidebar right-sidebar" data-template-open="false">
        <div class="right-sidebar-body">
          <div class="clearfix mb-0">
            <button class="close"><i class="feather-x"></i>
            </button>
          </div>
          <ul class="menu">
            <li class="menu-item"><a href="javascript:void(0)">About Us</a>
            </li>
            <li class="menu-item menu-item-has-children"><a href="javascript:void(0)">Portfolio</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="javascript:void(0)">About Us</a>
                </li>
                <li class="menu-item"><a href="javascript:void(0)">Our Team</a>
                </li>
                <li class="menu-item"><a href="javascript:void(0)">Pricing</a>
                </li>
                <li class="menu-item"><a href="javascript:void(0)">F.A.Q</a>
                </li>
              </ul>
              <!-- /.sub-menu -->
            </li>
            <!-- /.menu-item-has-children -->
            <li class="menu-item"><a href="javascript:void(0)">Our Services</a>
            </li>
            <li class="menu-item"><a href="javascript:void(0)">Affiliate</a>
            </li>
            <li class="menu-item"><a href="javascript:void(0)">Our Services</a>
            </li>
          </ul>
          <div class="widget text-widget">
            <figure class="mb-4">
              <a href="#">
                <img src="assets/demo/home/reach-us.jpg" alt="">
              </a>
            </figure>
            <p>E: info@yogastudio.com
              <br>P: +1 987 654 32 10
              <br>A: 1467, Mulbery Street, Houston
              <br><a href="#" class="headings-color text-underline">Google Map</a>
            </p>
          </div>
          <!-- /.widget -->
          <ul class="social-list social-list-hover-tertiary">
            <li><a href="#"><i class="unicon-twitter"></i></a>
            </li>
            <li><a href="#"><i class="unicon-facebook"></i></a>
            </li>
            <li><a href="#"><i class="unicon-instagram"></i></a>
            </li>
            <li><a href="#"><i class="feather-mail"></i></a>
            </li>
          </ul>
          <!-- /.social-list -->
          <figure class="mb-0">
            <img src="assets/demo/payment-options.jpg" alt="">
          </figure>
          <div class="widget text-widget fs-13">
            <p>&copy; 2019 Unifato. All rights reserved.</p>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.right-sidebar-body -->
      </div>
      <!-- /.menu-right-sidebar -->
    </li>
  </ul>
  <!-- /.site-navigation-extras -->
</div>
<!-- /.navbar -->